.git
.env
node_modules
vendor
public/storage
storage/*.key
.phpunit.result.cache
tests
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
bootstrap/cache/*.php
